@font-face {
    font-family: 'heroR';
    src: url('../fonts/heroR/hero-webfont.woff2') format('woff2'),
    url('../fonts/heroR/hero-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'heroL';
    src: url('../fonts/heroL/hero_light-webfont.woff2') format('woff2'),
    url('../fonts/heroL/hero_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.hovernav a:hover{

 border: 3px solid #4bc3eb;
 border-radius: 4px;
 color:#4bc3eb;
 padding: 0px;
 margin: -3px;
}
.hoverLogo :hover{
 transition: all 0.8s ease;
 transform: scale(1.06);
}
nav a{
    color: black;
    text-decoration-line: none;

    
}

.menu-top{
	font-size: 23pt;


}
.divLogo{
	margin-left: 616px;
	position: absolute;
	margin-top: -9px;
    display: block;
}
nav{
	font-family: 'heroR';
    padding-top: 13px;
    
    display: inline-block;
    padding-right: 0px;
    padding-left: 0px;
}
#divLinea{
    width: 102%;
    margin-left: -19px;
    border-bottom: 5px solid #4bc3eb;
    margin-top: -10px;
}
ul{
	padding-left: 15px;
    padding-right: 0px;
    display: inline-block;
}

ul > li{
	display: inline-block;
	margin: 0 20px;
    padding-left: 0px;
    padding-right: 0px;

}
.li1{

	margin-right: 206px;
    padding-right: 0px;
    padding-left: 0px;

}
h1 {
    text-align: center;
    font-size: 40.5pt;
    font-family: 'heroR';
    padding-top: 50px;
}
.perfiles{
    width: 20%;
    border: 2.5px solid black;
    border-radius: 4px;
    text-align: center;
    margin-top: 73px;

    padding-left: 0px;
    margin-left: 518px;
    font-family: 'heroR';
    font-size:23px;
}
.sectionPag1 {
    width: 70%;
    padding-top: 10px;
    margin-right: -5px;
    margin-left: 171px;
}
.h3-1 {
    width: 117%;
    font-family: 'heroL';
    text-align: center;
    font-size: 15.9pt;
    margin-left: -44px;
    
}
.h3-2 {
    width: 122%;
    font-family: 'heroL';
    text-align: center;
    font-size: 15.9pt;
    margin-left: -59px;
    
}
.h3-3 {
    width: 122%;
    font-family: 'heroL';
    text-align: center;
    font-size: 15.9pt;
    margin-left: -59px;
    
}
#divBanner{
    width: 102%;
    margin-top: -110px;
    margin-left: -19px;

}
#divDisApp img {

    width: 102%;
    margin-left: -19px;
    margin-top: -1px;

}
#barra{
    width: 100%;
    margin-top: 0px;
}
#tituloAppMov{
 color: white;
 text-shadow: 4px 3px 5px #616970;
 position: absolute;
 margin-top: -311px;

 margin-left: 269px;
}
.h3-1App {
    width: 100%;
    font-family: 'heroL';
    text-align: center;
    font-size: 15.9pt;
    margin-left: 0px;
    
}
.h3-2App {
    width: 100%;
    font-family: 'heroL';
    text-align: center;
    font-size: 15.9pt;
    margin-left: 0px;
    margin-top: -21px;
    padding-top: 0px;
    
}
#icono{
       margin-left: 48%;
    margin-top: 60px;
}
#Respon{
    font-family: 'heroR';
    text-align: center;
    font-size: 15.9pt;
    color: #4bc3eb;
}
.DisArt{
        margin-top: 51px;
}

